<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="delicousDBManager.Properties.Settings.delicacyDBConnectionString"
            connectionString="data source=F:\QT\delicacymap\deliciousServer\delicacyDB.db3"
            providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>